@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import "null.css";

body {
  color: #fff;
  background: #272727;
}

.header {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title {
  text-align: center;
  padding: 20px;
  font-size: 36px;
  font-weight: 600;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

/* Предупреждение */
.warning {
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
}

/* Тест на skills верстальщика */
.quiz {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  width: 100%;
  border-radius: 10px;
  background-color: #3a3a3a;
  text-align: center;
}

.quiz__top {
  padding-top: 20px;
  max-width: 300px;
  margin: 0 auto;
}

.quiz__top-img {
  width: 100%;
  border-radius: 10px;
}

.quiz__content {
  padding: 20px 30px;
  flex: 1 0 auto;
}

.quiz__title {
  font-size: 25px;
  font-weight: 600;
}

.quiz__list {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding: 20px 0px;
}

.quiz__option {
  background: rgb(173, 173, 173);
  border: 1px solid #666666;
  border-radius: 5px;
  padding: 8px 15px;
  min-height: 44px;
  font-size: 17px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quiz__option:hover {
  color: #004085;
  background: #cce5ff;
  border: 1px solid #b8daff;
}

.quiz__option.correct {
  color: #155724;
  background: #d4edda;
  border: 1px solid #c3e6cb;
}

.quiz__option.incorrect {
  color: #721c24;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
}

.quiz__option.disabled {
  pointer-events: none;
}

.quiz__footer {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid lightgrey;
}

.quiz__total {
  display: flex;
  align-items: center;
}

.tg__button {
  width: 180px;
  padding: 10px 13px;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  background-color: #0099ff;
}

.quiz__next-btn {
  height: 40px;
  padding: 0 50px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  border-radius: 10px;
  background: #007bff;
  border: 1px solid #007bff;
}

/* Выводим результаты теста */
.result {
  max-width: 450px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 20px 10px;
}

.result__title {
  font-size: 22px;
  font-weight: 550;
  text-align: center;
}

.result__text {
  margin: 15px 0;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.result__btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.result__restart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid #007bff;
  color: #007bff;
  background: #fff;
}

.result__restart:hover {
  color: #fff;
  background: #007bff;
}

.footer {
  text-align: center;
  padding: 10px;
  color: white;
}

.footer__link {
  color: black;
}

@media screen and (max-width: 370px) {
  .quiz__top {
    padding-top: 0;
  }
}